@model StudentDetails
<p>Name: @Model.FullName</p>
<p>DOB: @Model.DateOfBirth</p>
<p>Gender:  @Model.Gender</p>
<p>Category:  @Model.Category</p>
<p>Phone:  @Model.Phone</p>
<p>Mail:  @Model.Email</p>
<p>Parent name:  @Model.ParentGuardianName</p>
<p>Parent no:  @Model.ParentGuardianPhone</p>
<p>Permanent Address:  @Model.PermanentAddress</p>
<p>Current Address:  @Model.CurrentAddress</p>
<p>10rollno:  @Model.Class10RollNo</p>
<p>10th Percentage:  @Model.Class10Percentage</p>
<p>12rollno:  @Model.Class12RollNo</p>
<p>12th Percentage:  @Model.Class12Percentage</p>
<p>Course Taken:  @Model.Course</p>

